/*
flex-grow
flex-shrink
flex-basis
flex - grow shrink basis;
align-self
order
*/

.container {
    display:flex;
    width: 500px;
    background: lime;
    height: 400px;
    flex-direction: column;
}

.item{
    /*flex: 1 1 auto;*/
    background: yellow;
    flex: 5;
    height: 40px;
    /*transition: all .3s;*/
}

.item:hover{
    flex-grow: 10;
}

.item:nth-child(5){
    flex-shrink: 2;
}

.item:nth-child(even){
    background: pink;
}

.item:nth-child(2){
    align-self: flex-end;
}

.content{
    display: flex;
}
.main{
    background: pink;
    width: 75%;
}

.aside {
    background: tomato;
    width: 25%;
}

@media screen and (max-width: 640px){
    .content{
        flex-direction: column;
    }
    .main, .aside{
        width: 100%;
    }

    .aside{
        order:-1;
    }
}